<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Account Detail</title>
    <style>
DIV.table
{
    display:table;
}
FORM.tr, DIV.tr
{
    display:table-row;
}
SPAN.td
{
    display:table-cell;
}
</style>
</head>
<body>


<div class="Account">
    <h1>Account Detail</h1>
    <h4>User name:</h4>
    <p class = "col-lg-1">{{ username }}</p>
    <h4>Status:</h4>
    <p class = "col-lg-1">{{ status }}</p>
    <h4>VIP Number</h4>
    {% if VIPID %}
        <p class = "col-lg-1">{{ VIPID }}</p>
    {% else %}
        <p>You are not eligible as a VIP user</p>
        <form role="form" autocomplete="on" action="/AAS/form/submit/" onsubmit="if(!confirm('Are you going to submit the VIP code?')){return false;}" method="post" id="upgrade VIP">
        {% csrf_token %}
        <div class="form" >
            <label for="vipcode">VIP Code:</label>
            <input id="vipcode" type="text" name = "VipCode"/>
            <input value="{{ username }}" type="hidden" name="username"/>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary">upgrade</button>
        </div>
    </form>
    {% endif %}

{% if status == "banned" %}
    <h3 style="color: red;">Sorry you are banned. Contact the Admin</h3>
{% else %}
</div>
<div class="Record Detail" >
    <h1>Record List</h1>
{% if VIPID %}
<div class="button">
    <form id="export" method="post" action="/AAS/form/record/export/">
        {% csrf_token %}
        <input value="{{ username }}" type="hidden" name = "exportrecordname">
        <button type="submit">
            EXPORT
        </button>
    </form>
    <form id="chart" method="post" action="/AAS/form/record/generatechart/">
        {% csrf_token %}
        <input value="{{ username }}" type="hidden" name = "chartrecordname">
        <button type="submit">
            GEN CHART
        </button>
    </form>
</div>
{% endif %}
{% if recordlist %}
    <div class="table" style="width: 50%; text-align: center">
    <div class="tr" style="font-weight: bolder">
        <span class="td">owner</span>
        <span class="td">income/outcome</span>
        <span class="td">type</span>
        <span class="td">count</span>
        <span class="td">date</span>
        <span class="td">delete</span>
        <span class="td">update</span>
    </div>
        {% for record in recordlist %}
            <form class="tr" id = "{{ record.id }}" method="post" action="/AAS/form/record/update/" onsubmit="if(!confirm('Are you going to update the record?')){return false;}">
            {% csrf_token %}
                <span class="td">{{ record.owner }}</span>
                <span class="td">{{ record.recordtype }}</span>
                <span class="td">{{ record.type }}</span>
                <span class="td">{{ record.count }}</span>
                <span class="td">{{ record.dateUpdate|date:"Y-m-d, H:i:s" }}</span>
                <input type="hidden" value="{{ record.id }}" name = "updaterecordID">
                <span>
                    <button name="update" value="1" onclick=recordupdate({{ record.id }}) >
                        update
                    </button>
                </span>
            </form>
            <form class="td" id="recordDelete" method="post" action="/AAS/form/record/delete/" onsubmit="if(!confirm('Are you going to delete the record?')){return false;}">
                {% csrf_token %}
                <input type="hidden" value="{{ record.id }}" name = "deleterecordID">
                <button>
                    delete
                </button>
            </form>
        {% endfor %}
    </div>


{% else %}
    <p>No record are available.</p>
{% endif %}

<br>
<br>

</div>
<div class="recordAdd">
<h1>Add record</h1>
    <form role="form" autocomplete="on" action="/AAS/form/record/add/" onsubmit="if(!confirm('Are you going to submit the record?')){return false;}" method="post" id="myRecord">
        <div class="form" >
            {% csrf_token %}
            <label for="recordType">Income/Outcome</label>
            <select id="recordType" name="recordtype">
                <option value="0">income</option>
                <option value="1">outcome</option>
            </select>
            <label for="accountType">account type</label>
            <select id="accountType" name="type">
                <option value="0">traffic</option>
                <option value="1">lease</option>
                <option value="2">tax</option>
                <option value="3">daily life</option>
                <option value="4">other</option>
            </select>
            <label for="recordCount">record count</label>
            <input id="recordCount" type="text" name = "recordCount"/>
            <label for="date">Date</label>
            <input id = "date" type="datetime-local" name="dateUpdate" value = {{placement.date|date:"Y-m-d H:i:s" }}>
            <input value="{{ username }}" type="hidden" name="username"/>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endif %}
<script type="text/javascript">
    function recordupdate(rowid){
        var updatecontent = "{% csrf_token %}"+' <span class="td">{{ username }}</span><span class="td"><select id="recordType" name="recordtype"><option value="0">income</option><option value="1">outcome</option></select></span><span class="td"><select id="accountType" name="type"><option value="0">traffic</option><option value="1">lease</option><option value="2">tax</option><option value="3">daily life</option><option value="4">other</option></select></span><span class="td"> <input id="recordCount" type="text" name = "recordCount"/></span><span class="td"><input id = "date" type="datetime-local" name="dateUpdate" value = {{placement.date|date:"Y-m-d H:i:s" }}></span><input value="{{ username }}" type="hidden" name="username"/><input value='+rowid+ ' type="hidden" name="recordid"/><button type="submit" class="btn btn-primary">Submit</button>';
        var row = document.getElementById(rowid);

        row.innerHTML=updatecontent;

    }
</script>
</body>
</html>

